h1 {
    color: darkcyan;
}

h3 {
    text-align: center;
}

.categoryHeader {
    background-color: #F5F0E9;
    width: 400px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    /* border-radius: 5% / 50%; */
}

.listBlock {
    background-color: lightgray;
    display: inline-block;
    width: 200px;
    vertical-align: top;
    /* margin: 1%; */
}

.roundedCorner {
    border-radius: 20px;
}

/* .column {
    display: inline-block;
    width: 30%;
} */